# Archivos compilados
*.class

# Directorios de salida
/bin/
/build/
/out/

# Archivos de configuración IDE
.classpath
.project
.settings/
.idea/
*.iml

# Configuración del editor
.vscode/
*.swp

# Archivos de logs
*.log

# Archivos temporales del sistema
.DS_Store
Thumbs.db
Documentación Técnica Registro de Usuarios y Diseño de Tabla (1).pdf
LICENSE
Manejo de excepciones java.pdf
Proceso de Consulta y Actualización de Cotizaciones de Criptomonedas.pdf
